@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');
* {
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	font-family: 'Hind Siliguri';
	scroll-behavior: smooth;
}
body{
	background-color: #252934;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #cecece
}
.ss{
	color: #cecece;
}
.container{
	height: inherit;
	width: 80%;
	margin: 0px auto;
}
.margin{
	margin: 0px auto;
}
.fixed{
	position: fixed;
	top: 40px;
	margin-top: -40px;
}
#container-fluid{
	background-color: #252934;
	border-bottom: 2px solid #008080;
	width: 100%;
	margin-top: -40px;
	#nav{
	height: 24px;
	padding-top: 10px;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2em;
	text-transform: uppercase;
		#logo{
			a:hover{
				color: #ffff33;
			}
		}
		.active{
			a{
				color: #ffff33;
			}
		}
		ul{
			display: inline;
			li{
				display: inline-block;
				margin: 0px 20px;
				a:hover{
					color: #ffff33;
				}
			}
		}
	}
}
#home {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-image: url(../img/Pozadina.png);
	color: #cecece;
		#naslov{
			height: inherit;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			#naslov-text{
				display: flex;
				flex-direction: row;
				p{
					font-size: 3em;
				}
				h1{
					font-size: 3em;
					color: #ffff33;
					text-align: center;
				}
			}
			h2{
				font-size: 2.5em;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 45px;
			}
			#btn-about{
				a{
					box-sizing: border-box;
					border: 1px solid;
					padding: 12px 20px 12px 20px;
					font-size: 20px;
				}
				a:after{
					box-sizing: border-box;
					font-family: "FontAwesome";
					content: "\f061";
				}
				a:hover:after{
					font-family: "FontAwesome";
					content: "\f063";
				}
				a:hover{
					background-color: #008080;
					border: 1px solid #008080;
				}
			}
		}
}
#about{
	box-sizing: border-box;
	padding-top: 30px;
	min-height: 100vh;
	background-color: #252934;
	.naslov{
		h2{
			margin-top: 80px;
			margin-bottom: 90px;
			font-size: 50px;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.column{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.slicice{
			width: 300px;
			text-align: center;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			margin: 0px auto;
			margin-bottom: 50px;
			span{
				width:40px;
				height: 40px;
				font-size: 40px;
				border: 20px solid #008080;
				border-radius: 50%;
				background-color: #008080;
				color: #FFF;
				margin-bottom: 20px;
				color: #ffff33;
			}
			.slicice-naslov{
				font-size: 30px;
				margin-bottom: 5px;
				color: #cecece;
			}
			.slicice-text{
				font-size: 19px;
				color: #cecece;
			}
		}
	}
	#column-me{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		.about-me{
			width: 496px;
			margin-top: 90px;
			display: flex;
			flex-direction: column;
			
			#slika{
				height: 300px;
				text-align: center;
				img{
					height: 300px;
					border-radius: 40px;
				}
			}
			span{
				text-align: center;
				a{
				color: #ffff33;
				text-align: center;
				}
				a:hover{
					color: #008080;
				}
			}
			p{
				text-align: center;
			}
			.skills{
				width: 496px;
				height: 28px;
				display: flex;
				margin-bottom: 20px;
				justify-content: center;
				#text-fill{
					width: 80px;
					height: inherit;
					background-color: #008080b0;
					border-bottom-left-radius: 10px;
					border-top-left-radius: 10px;
					color: #ffff33;
				}
				.fill{
					width: 390px;
					height: inherit;
					background-color: #cecece;
					border-bottom-right-radius: 10px;
					border-top-right-radius: 10px;
					#htmlfill{
						width: 85%;
						height: inherit;
						background-color: #008080;
						border-bottom-right-radius: 10px;
						border-top-right-radius: 10px;
					}
					#cssfill{
						width: 80%;
						height: inherit;
						background-color: #008080;
						border-bottom-right-radius: 10px;
						border-top-right-radius: 10px;
					}
					#jsfill{
						width: 10%;
						height: inherit;
						background-color: #008080;
						border-bottom-right-radius: 10px;
						border-top-right-radius: 10px;
					}
					#psfill{
						width: 40%;
						height: inherit;
						background-color: #008080;
						border-bottom-right-radius: 10px;
						border-top-right-radius: 10px;
					}
					#designfill{
						width: 60%;
						height: inherit;
						background-color: #008080;
						border-bottom-right-radius: 10px;
						border-top-right-radius: 10px;
					}
				}
				.text{
					height: inherit;
					text-align: right;
					background-color: #cecece;
					padding-right: 2%;
					border-bottom-right-radius: 10px;
					border-top-right-radius: 10px;
				}
			}
		}
	}
}
#project{
	box-sizing: border-box;
	padding-top: 30px;
	min-height: 100vh;
	background-color: #252934;
	.naslov{
		h2{
			margin-top: 80px;
			margin-bottom: 150px;
			font-size: 50px;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.column{
		display: flex;
		flex-direction: column;
		color: #ffff33;
		#gore{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
			
		}
		.slicice{
			width: 400px;
			text-align: center;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			margin-bottom: 100px;
			
			img{
				width: 350px;
				margin: 0px auto;
			}
		}
		#dole{
			width: 350px;
			margin: 0px auto;
			text-align: center;
			img{
				width: inherit;
				margin: 0px auto;
			}
		}
	}
}
#contact{
	box-sizing: border-box;
	padding-top: 30px;
	min-height: 100vh;
	background-color: #252934;
	.naslov{
		h2{
			margin-top: 80px;
			margin-bottom: 90px;
			font-size: 50px;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.column{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		.form{
			margin: 0px auto;
			margin-top: 70px;
			input{
				width: 500px;
				border-left: 2px solid #008080;
				border-bottom: 2px solid #008080;
				border-right: 2px solid #008080;
				border-top: none;
				border-radius: 10px;
				padding: 3px 0px 3px 10px;
				outline: none;
				font-size: 20px;
				
			}
			textarea{
				width: 500px;
				height: 90px;
				border-left: 2px solid #008080;
				border-bottom: 2px solid #008080;
				border-right: 2px solid #008080;
				border-top: none;
				border-radius: 10px;
				padding: 3px 0px 3px 10px;
				outline: none;
				resize: none;
				font-size: 20px;
			}
		}
		.btn{
			margin: 0px auto;
			margin-top: 70px;
			input{
				border: 2px solid #008080;
				border-radius: 10px;
				outline: none;
				font-size: 20px;
				padding: 3px 5px;
				cursor: pointer;
				color: #252934;
			}
			input:hover{
				background-color: #252934;
				color: #008080;
			}
		}

	}
}
#footer{
	.margin{
		display: flex;
			flex-direction: row;
			justify-content: space-around;
		i{
			font-size: 30px;
		}
		i:hover{
			color: #ffff33;
		}
	}
	
}














#burger{
	color:#cecece;
	position: fixed;
	top:0px;
	right:0px;
	z-index:4;
	display: none;
}
#mobile-menu{
	color:#cecece;
		display:none;
		.mobile-menu-container{
			top:0px;
			left:0px;
			position:fixed;
			width:100%;
			height:100%;
			background:#252934;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index:3;
			}
			li{
				height: 50px;
				font-size:30px;
				}
}
.mobile-menu-active{
	display: block !important;
}