@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-family: 'Hind Siliguri';
  scroll-behavior: smooth;
}

body {
  background-color: #252934;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #cecece;
}

.ss {
  color: #cecece;
}

.container {
  height: inherit;
  width: 80%;
  margin: 0px auto;
}

.margin {
  margin: 0px auto;
}

.fixed {
  position: fixed;
  top: 40px;
  margin-top: -40px;
}

.colorT {
  color: #ffff33;
}

.f-naslov {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

#container-fluid {
  background-color: #252934;
  border-bottom: 2px solid #008080;
  width: 100%;
  margin-top: -40px;
  z-index: 200;
}

#container-fluid #nav {
  height: 24px;
  padding-top: 10px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
}

#container-fluid #nav #logo a:hover {
  color: #ffff33;
}

#container-fluid #nav .active a {
  color: #ffff33;
}

#container-fluid #nav ul {
  display: inline;
}

#container-fluid #nav ul li {
  display: inline-block;
  margin: 0px 20px;
}

#container-fluid #nav ul li a:hover {
  color: #ffff33;
}

#home {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-image: url(../img/pozadina.png);
  color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home #naslov {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home #naslov #naslov-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#home #naslov #naslov-text p {
  font-size: 3em;
}

#home #naslov #naslov-text h1 {
  font-size: 3em;
  color: #ffff33;
  text-align: center;
}

#home #naslov h2 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 45px;
}

#home #naslov #btn-about a {
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
  padding: 12px 20px 12px 20px;
  font-size: 20px;
}

#home #naslov #btn-about a:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "FontAwesome";
  content: "\f061";
}

#home #naslov #btn-about a:hover:after {
  font-family: "FontAwesome";
  content: "\f063";
}

#home #naslov #btn-about a:hover {
  background-color: #008080;
  border: 1px solid #008080;
}

#about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  min-height: 100vh;
  margin-bottom: 50px;
}

#about .naslov h2 {
  margin-top: 80px;
  margin-bottom: 90px;
}

#about .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .column .slicice {
  width: 300px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto;
  margin-bottom: 50px;
}

#about .column .slicice span {
  width: 40px;
  height: 40px;
  font-size: 40px;
  border: 20px solid #008080;
  border-radius: 50%;
  background-color: #008080;
  color: #ffff33;
}

#about .column .slicice .slicice-naslov {
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 5px;
  color: #cecece;
}

#about .column .slicice .slicice-text {
  font-size: 19px;
  color: #cecece;
}

#about #column-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about #column-me .about-me {
  width: 496px;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about #column-me .about-me #slika {
  height: 300px;
  text-align: center;
}

#about #column-me .about-me #slika img {
  height: 300px;
  border-radius: 40px;
}

#about #column-me .about-me #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

#about #column-me .about-me #info p {
  font-size: 25px;
  text-align: center;
}

#about #column-me .about-me #info a {
  margin-top: 20px;
  color: #ffff33;
  font-size: 25px;
  text-align: center;
}

#about #column-me .about-me #info a:hover {
  color: #008080;
}

#skill {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  min-height: 100vh;
}

#skill .naslov h2 {
  margin-top: 80px;
  margin-bottom: 150px;
}

#skill #skill-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#skill #skill-g #skill-l {
  width: 496px;
}

#skill #skill-g #skill-l .skills {
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  margin-bottom: 30px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #cecece;
  border-radius: 15px;
}

#skill #skill-g #skill-l .skills .text-fill {
  height: inherit;
  background-color: #008080;
  border-radius: 15px;
  color: #ffff33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

#skill #skill-g #skill-l .skills .text-fill i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: inherit;
  padding-left: 10px;
  font-size: 25px;
  padding-top: 6px;
}

#skill #skill-g #skill-l .skills .text-fill p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: inherit;
  padding-left: 5px;
  font-size: 25px;
}

#skill #skill-g #skill-l .skills #htmlfill {
  width: 100%;
}

#skill #skill-g #skill-l .skills #cssfill {
  width: 95%;
}

#skill #skill-g #skill-l .skills #jsfill {
  width: 30%;
}

#skill #skill-g #skill-l .skills #psfill {
  width: 40%;
}

#skill #skill-g #skill-l .skills #cfill {
  width: 47%;
}

#skill #skill-g #skill-l .skills #seofill {
  width: 80%;
}

#skill #skill-g #skill-l .skills #bsfill {
  width: 76%;
}

#skill #skill-g #skill-l .skills #mtfill {
  width: 69%;
}

#skill #skill-g #skill-l .skills #sassfill {
  width: 47%;
}

#skill #skill-g #skill-l .skills #sqlfill {
  width: 50%;
}

#skill #skill-g #skill-l .skills .text {
  height: inherit;
  text-align: right;
  background-color: #cecece;
  padding-right: 2%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#skill #skill-g #skill-d {
  width: 496px;
}

#skill #skill-g #skill-d .column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skill #skill-g #skill-d .column .gore, #skill #skill-g #skill-d .column .sredina, #skill #skill-g #skill-d .column .dole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 214px;
}

#skill #skill-g #skill-d .column .gore .slicice, #skill #skill-g #skill-d .column .sredina .slicice, #skill #skill-g #skill-d .column .dole .slicice {
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

#skill #skill-g #skill-d .column .gore .slicice span, #skill #skill-g #skill-d .column .sredina .slicice span, #skill #skill-g #skill-d .column .dole .slicice span {
  width: 40px;
  height: 40px;
  font-size: 40px;
  border: 20px solid #008080;
  border-radius: 50%;
  background-color: #008080;
  color: #ffff33;
}

#skill #skill-g #skill-d .column .gore .slicice .slicice-text, #skill #skill-g #skill-d .column .sredina .slicice .slicice-text, #skill #skill-g #skill-d .column .dole .slicice .slicice-text {
  font-size: 20px;
  margin-top: 30px;
  color: #cecece;
  text-transform: uppercase;
}

#project {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  min-height: 100vh;
}

#project .naslov h2 {
  margin-top: 80px;
  margin-bottom: 150px;
}

#project .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffff33;
}

#project .column .gore {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#project .column .gore .slicice {
  width: 450px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

#project .column .gore .slicice img {
  width: 450px;
  margin: 0px auto;
  border-radius: 15px;
  z-index: 2;
  border: 2px solid #008080;
}

#project .column .gore .slicice p {
  font-size: 19px;
}

#project .column .dole {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#project .column .dole .slicice {
  width: 450px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

#project .column .dole .slicice img {
  width: 450px;
  margin: 0px auto;
  border-radius: 15px;
  border: 2px solid #008080;
}

#project .column .dole .slicice p {
  font-size: 19px;
}

#contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  min-height: 100vh;
  background-color: #252934;
}

#contact .naslov h2 {
  margin-top: 80px;
  margin-bottom: 100px;
}

#contact #kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact #kontakt .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin: 0px auto;
}

#contact #kontakt .column .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
}

#contact #kontakt .column .form-group .form {
  width: inherit;
  margin-top: 30px;
}

#contact #kontakt .column .form-group .form input {
  width: inherit;
  border-left: 2px solid #008080;
  border-bottom: 2px solid #008080;
  border-right: 2px solid #008080;
  border-top: none;
  border-radius: 10px;
  padding: 3px 0px 3px 10px;
  outline: none;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cecece;
}

#contact #kontakt .column .form-group .form textarea {
  width: inherit;
  height: 90px;
  border-left: 2px solid #008080;
  border-bottom: 2px solid #008080;
  border-right: 2px solid #008080;
  border-top: none;
  border-radius: 10px;
  padding: 3px 0px 3px 10px;
  outline: none;
  resize: none;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cecece;
}

#contact #kontakt .column .form-group .pola {
  width: 220px;
}

#contact #kontakt .column .btn {
  margin: 0px auto;
  margin-top: 70px;
}

#contact #kontakt .column .btn input {
  border: 2px solid #008080;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  padding: 3px 5px;
  cursor: pointer;
  color: #252934;
  background-color: #cecece;
}

#contact #kontakt .column .btn input:hover {
  background-color: #252934;
  color: #008080;
}

#contact #kontakt .column p {
  margin-top: 40px;
  font-size: 25px;
  color: #cecece;
}

#contact #kontakt .column:first-of-type {
  margin-bottom: 70px;
}

#footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 70px;
  margin-bottom: 10px;
  border-top: 2px solid #008080;
}

#footer .container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .container #mreze {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .container #mreze i {
  font-size: 20px;
}

#footer .container #mreze i:hover {
  color: #ffff33;
}

#footer .container #linkovi {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .container #linkovi a:hover {
  color: #ffff33;
}

@media screen and (max-width: 1720px) {
  body #project .container .column .gore .slicice {
    width: 450px;
  }
  body #project .container .column .gore .slicice img {
    width: 400px;
  }
  body #project .container .column .dole .slicice {
    width: 450px;
  }
  body #project .container .column .dole .slicice img {
    width: 400px;
  }
}

@media screen and (max-width: 1420px) {
  body #project .container .column .gore .slicice {
    width: 400px;
  }
  body #project .container .column .gore .slicice img {
    width: 350px;
  }
  body #project .container .column .dole .slicice {
    width: 400px;
  }
  body #project .container .column .dole .slicice img {
    width: 350px;
  }
  body #contact .column {
    width: 400px !important;
  }
  body #contact .column .form-group {
    width: 400px !important;
  }
  body #contact .column .form-group .pola {
    width: 190px !important;
  }
}

@media screen and (max-width: 1250px) {
  body #container-fluid .container #nav ul li {
    margin: 0px 15px;
  }
  body #home #btn-about a {
    padding: 8px 16px 8px 16px;
    font-size: 15px;
  }
  body #home #btn-about a:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "FontAwesome";
    content: "\f063";
  }
  body #home #btn-about a:hover:after {
    font-family: "FontAwesome";
    content: "\f063";
  }
  body #home #btn-about a:hover {
    background-color: #252934;
    border: 1px solid #cecece;
  }
  body #skill .gore, body #skill .sredina, body #skill .dole {
    height: initial !important;
  }
  body #project .container .column .gore .slicice {
    width: 350px;
  }
  body #project .container .column .gore .slicice img {
    width: 300px;
  }
  body #project .container .column .dole .slicice {
    width: 350px;
  }
  body #project .container .column .dole .slicice img {
    width: 300px;
  }
}

@media screen and (max-width: 720px) {
  body #container-fluid .container #nav a:hover {
    color: none;
  }
  body #container-fluid .container #nav ul li {
    margin: 0px 4px;
  }
  body #about #info p {
    font-size: 20px !important;
  }
  body #about #info a {
    font-size: 20px !important;
  }
  body #skill .skills .text-fill p {
    padding-top: 2px;
    font-size: 20px !important;
  }
  body #skill .skills .text-fill i {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  body .f-naslov {
    font-size: 40px !important;
  }
  body #home .container #naslov #naslov-text h1 {
    font-size: 2em;
  }
  body #home .container #naslov h2 {
    font-size: 1.5em;
  }
  body #about #column-me .about-me {
    width: 90%;
  }
  body #skill .skills {
    width: 90%;
  }
  body #skill .skills .text-fill p {
    padding-top: 3px;
    font-size: 17px !important;
  }
  body #skill .skills .text-fill i {
    font-size: 17px !important;
  }
  body #contact .container {
    width: 90% !important;
  }
  body #contact .container .column {
    width: 100% !important;
  }
  body #contact .container .column .form-group {
    width: 100% !important;
  }
  body #contact .container .column .form-group .pola {
    width: 100% !important;
  }
  body #contact .container .column p {
    font-size: 22px;
  }
}

@media screen and (max-width: 550px) {
  body #container-fluid .container #nav ul li {
    font-size: 13px;
  }
  body #skill .gore .slicice, body #skill .sredina .slicice, body #skill .dole .slicice {
    width: 90% !important;
  }
  body #contact .column p {
    font-size: 18px !important;
  }
  body #footer #linkovi {
    width: 50% !important;
  }
}

@media screen and (max-width: 400px) {
  body .f-naslov {
    font-size: 30px !important;
  }
  body #project .container .column .gore .slicice {
    width: 300px;
  }
  body #project .container .column .gore .slicice img {
    width: 250px;
  }
  body #project .container .column .dole .slicice {
    width: 300px;
  }
  body #project .container .column .dole .slicice img {
    width: 250px;
  }
  body #container-fluid .container #nav ul li {
    margin: 0px 1px;
    font-size: 11px;
  }
  body #contact .column p {
    font-size: 16px !important;
  }
}

#burger {
  color: #cecece;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 4;
  display: none;
}

#mobile-menu {
  color: #cecece;
  display: none;
}

#mobile-menu .mobile-menu-container {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #252934;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

#mobile-menu li {
  height: 50px;
  font-size: 30px;
}

.mobile-menu-active {
  display: block !important;
}
/*# sourceMappingURL=style.css.map */