@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');
* {
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	font-family: 'Hind Siliguri';
	scroll-behavior: smooth;
}
body{
	background-color: #252934;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #cecece
}
.ss{
	color: #cecece;
}
.container{
	height: inherit;
	width: 80%;
	margin: 0px auto;
}
.margin{
	margin: 0px auto;
}
.fixed{
	position: fixed;
	top: 40px;
	margin-top: -40px;
}
.colorT{
	color: #ffff33;
}
#container-fluid{
	background-color: #252934;
	border-bottom: 2px solid #008080;
	width: 100%;
	margin-top: -40px;
	z-index: 200;
	#nav{
		height: 24px;
		padding-top: 10px;
		padding-bottom: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.2em;
		text-transform: uppercase;
		#logo{
			a:hover{
				color: #ffff33;
			}
		}
		.active{
			a{
				color: #ffff33;
			}
		}
		ul{
			display: inline;
			li{
				display: inline-block;
				margin: 0px 20px;
				a:hover{
					color: #ffff33;
				}
			}
		}
	}
}
#home {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-image: url(../img/pozadina.png);
	color: #cecece;
	display: flex;
	align-items: center;
	justify-content: center;
		#naslov{
			height: inherit;
			display: flex;
			align-items: center;
			flex-direction: column;
			#naslov-text{
				display: flex;
				flex-direction: row;
				p{
					font-size: 3em;
				}
				h1{
					font-size: 3em;
					color: #ffff33;
					text-align: center;
				}
			}
			h2{
				font-size: 2.5em;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 45px;
			}
			#btn-about{
				a{
					border-radius: 10px;
					box-sizing: border-box;
					border: 1px solid;
					padding: 12px 20px 12px 20px;
					font-size: 20px;
				}
				a:after{
					box-sizing: border-box;
					font-family: "FontAwesome";
					content: "\f061";
				}
				a:hover:after{
					font-family: "FontAwesome";
					content: "\f063";
				}
				a:hover{
					background-color: #008080;
					border: 1px solid #008080;
				}
			}
		}
}
#about{
	box-sizing: border-box;
	padding-top: 30px;
	min-height: 100vh;
	margin-bottom: 50px;
	.naslov{
		h2{
			margin-top: 80px;
			margin-bottom: 90px;
			font-size: 50px;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.column{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.slicice{
			width: 300px;
			text-align: center;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			margin: 0px auto;
			margin-bottom: 50px;
			span{
				width:40px;
				height: 40px;
				font-size: 40px;
				border: 20px solid #008080;
				border-radius: 50%;
				background-color: #008080;
				color: #ffff33;
			}
			.slicice-naslov{
				font-size: 30px;
				margin-top: 35px;
				margin-bottom: 5px;
				color: #cecece;
			}
			.slicice-text{
				font-size: 19px;
				color: #cecece;
			}
		}
	}
	#column-me{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		.about-me{
			width: 496px;
			margin-top: 90px;
			display: flex;
			flex-direction: column;
			#slika{
				height: 300px;
				text-align: center;
				img{
					height: 300px;
					border-radius: 40px;
				}
			}
			#info{
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 5px;
				p{
					font-size: 25px;
					text-align: center;
					
				}
				a{
					margin-top: 20px;
					color: #ffff33;
					font-size: 25px;
					text-align: center;
				}
				a:hover{
					color: #008080;
				}
			}
		}
	}
}
#skill{
	box-sizing: border-box;
	padding-top: 30px;
	min-height: 100vh;
	.naslov{
		h2{
			margin-top: 80px;
			margin-bottom: 150px;
			font-size: 50px;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	#skill-g{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		#skill-l{
			width: 496px;
			.skills{
				width: 100%;
				height: 35px;
				display: flex;
				margin: 0px auto;
				margin-bottom: 30px;
				justify-content: left;
				background-color: #cecece;
				border-radius: 15px;
				.text-fill{
					height: inherit;
					background-color: #008080;
					border-radius: 15px;
					color: #ffff33;
					display: flex;
					flex-direction: row;
					align-content: center;
		
					i{
						box-sizing: border-box;
						height: inherit;
						padding-left: 10px;
						font-size: 25px;
						padding-top: 6px;
					}
					p{
						box-sizing: border-box;
						height: inherit;
						padding-left: 5px;
						font-size: 25px;
					}
				}
				#htmlfill{
					width: 100%;
				}
				#cssfill{
					width: 95%;
				}
				#jsfill{
					width: 30%;
				}
				#psfill{
					width: 40%;
				}
				#cfill{
					width: 47%;
				}
				#seofill{
					width: 80%;
				}
				#bsfill{
					width: 76%;
				}
				#mtfill{
					width: 69%;
				}
				#sassfill{
					width: 47%;
				}
				#sqlfill{
					width: 50%;
				}
				.text{
					height: inherit;
					text-align: right;
					background-color: #cecece;
					padding-right: 2%;
					border-bottom-right-radius: 10px;
					border-top-right-radius: 10px;
				}
			}
		}
		#skill-d{
			width: 496px;
			.column{
				width: 100%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				.gore, .sredina, .dole{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					flex-wrap: wrap;
					.slicice{
						width: 40%;
						text-align: center;
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
						margin-top: 20px;
						margin-bottom: 20px;
						span{
							width: 40px;
							height: 40px;
							font-size: 40px;
							border: 20px solid #008080;
							border-radius: 50%;
							background-color: #008080;
							color: #ffff33;
						}
						.slicice-text{
							font-size: 20px;
							margin-top: 30px;
							color: #cecece;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}
#project{
	box-sizing: border-box;
	padding-top: 30px;
	min-height: 100vh;
	.naslov{
		h2{
			margin-top: 80px;
			margin-bottom: 150px;
			font-size: 50px;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.column{
		display: flex;
		flex-direction: column;
		color: #ffff33;
		.gore{
			width: 80%;
			display: flex;
			margin: 0px auto;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
			.slicice{
				width: 550px;
				text-align: center;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				margin-bottom: 100px;
				img{
					width: 450px;
					margin: 0px auto;
					border-radius: 15px;
					z-index: 2;
					border: 2px solid #008080;
				}
				p{
					font-size: 19px;
				}
			}
		}
		.dole{
			width: 80%;
			display: flex;
			margin: 0px auto;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
			.slicice{
				width: 550px;
				text-align: center;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				margin-bottom: 100px;
				img{
					width: 450px;
					margin: 0px auto;
					border-radius: 15px;
					border: 2px solid #008080;
				}
				p{
					font-size: 19px;
				}
			}
		}
	}
}
#contact{
	box-sizing: border-box;
	padding-top: 30px;
	min-height: 100vh;
	background-color: #252934;
	.naslov{
		h2{
			margin-top: 80px;
			margin-bottom: 100px;
			font-size: 50px;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	#kontakt{
		display: flex;
		flex-wrap: wrap;
		.column{
			display: flex;
			flex-direction: column;
			width: 500px;
			margin: 0px auto;
			.form{
				margin-top: 30px;
				width: 450px;
				input{
					width: inherit;
					border-left: 2px solid #008080;
					border-bottom: 2px solid #008080;
					border-right: 2px solid #008080;
					border-top: none;
					border-radius: 10px;
					padding: 3px 0px 3px 10px;
					outline: none;
					font-size: 20px;
					box-sizing: border-box;
				}
				textarea{
					width: inherit;
					height: 90px;
					border-left: 2px solid #008080;
					border-bottom: 2px solid #008080;
					border-right: 2px solid #008080;
					border-top: none;
					border-radius: 10px;
					padding: 3px 0px 3px 10px;
					outline: none;
					resize: none;
					font-size: 20px;
					box-sizing: border-box;
				}
			}
			.btn{
				margin: 0px auto;
				margin-top: 70px;
				input{
					border: 2px solid #008080;
					border-radius: 10px;
					outline: none;
					font-size: 20px;
					padding: 3px 5px;
					cursor: pointer;
					color: #252934;
				}
				input:hover{
					background-color: #252934;
					color: #008080;
				}
			}
			p{
				margin-top: 40px;
				font-size: 25px;
				color: #cecece;
			}
	
		}
		.column:first-of-type{
			margin-bottom: 70px;
		}
	}
}
#footer{
	box-sizing: border-box;
	margin-top: 70px;
	margin-bottom: 10px;
	border-top: 2px solid #008080;
	.container{
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		#mreze{
		width: 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
			i{
				font-size: 20px;
			}
			i:hover{
				color: #ffff33;
			}
		}
		#linkovi{
			width: 30%;
			display: flex;
			flex-direction: row;
			justify-content:space-between;
			a:hover{
				color: #ffff33;
			}
		}
	}
}
@media screen and (max-width: 1720px){
	body{
		#project{
			.container{
				.column{
					.gore{
						.slicice{
							width: 450px;
							img{
								width: 400px;
							}
						}
					}
					.dole{
						.slicice{
							width: 450px;
							img{
								width: 400px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1420px){
	body{
		#project{
			.container{
				.column{
					.gore{
						.slicice{
							width: 400px;
							img{
								width: 350px;
							}
						}
					}
					.dole{
						.slicice{
							width: 400px;
							img{
								width: 350px;
							}
						}
					}
				}
			}
		}
		#contact{
			.column{
				width: 400px !important;
					.form{
						width: 400px !important;
					}
			}
		}
	}
}
@media screen and (max-width: 1250px){
	body{	
		#container-fluid{
			.container{
				#nav{
					ul{
						li{
							margin: 0px 15px;
						}
					}
				}
			}
		}
		#home{
			#btn-about{
				a{
					padding: 8px 16px 8px 16px;
					font-size: 15px;
				}
				a:after{
					box-sizing: border-box;
					font-family: "FontAwesome";
					content: "\f063";
				}
				a:hover:after{
					font-family: "FontAwesome";
					content: "\f063";
				}
				a:hover{
					background-color: #252934;
					border: 1px solid #cecece;
				}
			}
		}
		#project{
			.container{
				.column{
					.gore{
						.slicice{
							width: 350px;
							img{
								width: 300px;
							}
						}
					}
					.dole{
						.slicice{
							width: 350px;
							img{
								width: 300px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 720px){
	body{
		#container-fluid{
			.container{
				#nav{
					a:hover{
						color: none;
					}
					ul{
						li{
							margin: 0px 4px;
						}
					}
				}

			}
		}
		#about{
			#info{
				p{
					font-size: 20px !important;
				}
				a{
					font-size: 20px !important;
				}
			}
		}
		#skill{
			.skills{
				.text-fill{
					p{
						padding-top: 2px;
						font-size: 20px !important;
					}
					i{
						font-size: 20px !important;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 600px){
	body{
		#home{
			.container{
				#naslov{
					#naslov-text{
						h1{
							font-size: 2em;
						}
					}
					h2{
					font-size: 1.5em;
					}
				}
			}
		}
		#about{
			#column-me{
				.about-me{
					width: 90%; 
				}
			}
		}
		#skill{
			.skills{
				width: 90%;
				.text-fill{
					p{
						padding-top: 3px;
						font-size: 17px !important;
					}
					i{
						font-size: 17px !important;
					}
				}
				
			}
		}
		#contact{
			.container{
				width: 90% !important;
				.column{
					width: 100% !important;
					.form{
						width: 100% !important;
					}
					p{
						font-size: 22px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 550px){
	body{
		#container-fluid{
			.container{
				#nav{
					ul{
						li{
							font-size: 13px;
						}
					}
				}
			}
		}
		#skill{
			.gore, .sredina, .dole{
				.slicice{
					width: 90% !important;
				}
			}
		}
		#contact{
			.column{
				p{
					font-size: 18px !important;
				}
			}
		}
		#footer{
			#linkovi{
				width: 50% !important;
			}
		}
	}
}

@media screen and (max-width: 400px){
	body{
		#project{
			.container{
				.column{
					.gore{
						.slicice{
							width: 300px;
							img{
								width: 250px;
							}
						}
					}
					.dole{
						.slicice{
							width: 300px;
							img{
								width: 250px;
							}
						}
					}
				}
			}
		}
		#container-fluid{
			.container{
				#nav{
					ul{
						li{
							margin: 0px 1px;
							font-size: 11px;
						}
					}
				}

			}
		}
		#contact{
			.column{
				p{
					font-size: 16px !important;
				}
			}
		}
	}
}
#burger{
	color:#cecece;
	position: fixed;
	top:0px;
	right:0px;
	z-index:4;
	display: none;
}
#mobile-menu{
	color:#cecece;
		display:none;
		.mobile-menu-container{
			top:0px;
			left:0px;
			position:fixed;
			width:100%;
			height:100%;
			background:#252934;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index:3;
			}
			li{
				height: 50px;
				font-size:30px;
				}
}
.mobile-menu-active{
	display: block !important;
}
